<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covid_19">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
         android:icon="@drawable/download"
        android:label="@string/app_name"
        android:roundIcon="@drawable/download"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash_screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-8196601564130710~2991015952" />

        <activity android:name=".MainActivity">

        </activity>
    </application>

</manifest>